name: Update the README

on:
  push:
  workflow_dispatch:
  schedule:
    # Runs on 00:15 every day
    - cron: "15 0 * * *"

permissions:
  contents: write

jobs:
  markscribe:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
      
      - name: Generate a new README
        uses: muesli/readme-scribe@master
        with:
          template: templates/README.md.tpl
          writeTo: README.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Push changes to the repository
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: update README"
          commit_user_name: Markscribe
          commit_user_email: actions@github.com
          commit_author: Markscribe <actions@github.com>
